body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: rgb(68, 51, 36);
    background-color: rgb(255, 250, 230);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

h1{
    background-color: rgb(221, 199, 171);
    padding: 30px;
    position: fixed;
    top: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

#claimRewardButton {
    font-size: 40px;
    font-weight: bold;
    color: rgb(68, 51, 36);
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    display: inline-block;
}
#timeLeft {
    font-size: 40px;
    font-weight: bold;
    color: rgb(68, 51, 36);
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    display: inline-block;
}